/*margins*/

* {
  margin: 0;
}

/*overflow*/

html, body {
  overflow-x: hidden;
}

/*margin top*/

.businessGoal {
  margin-top: 2%;
}

.businessGoal {
  margin-bottom: 2%;
}

/*margin bottom*/

.historyitemlist, .charactersitemlist {
  margin-bottom: 3%;
}

/*padding*/

* {
  padding: 0;
}

/*padding top*/

h1, h2, h3.fa, .image img {
  padding-top: 2%;
}

.historyitemlist p, .charactersitemlist p, .company p {
  padding-top: 3%;
}

.businessGoal p, #iicimage img, #kalycitoimage img, .image img {
  padding-top: 5%;
}

/*padding bottom*/

h1, h2, h3, .fa, .image img {
  padding-bottom: 2%;
}

.historyitemlist p, .charactersitemlist p, .company p {
  padding-bottom: 2%;
}

.businessGoal p {
  padding-bottom: 5%;
}

/*padding right*/

.historyitemlist p, .charactersitemlist p, .company p {
  padding-right: 5%;
}

.businessGoal p {
  padding-right: 10%;
}

/*padding left*/

.historyitemlist p, .charactersitemlist p, .company p {
  padding-left: 5%;
}

.businessGoal p {
  padding-left: 10%;
}

/*float*/

.historyitemlist, .charactersitemlist, .company, .socialLinks {
  float: left;
}

/*clear*/
#facebook {
  clear: left;
}

.businessGoal, .characters, #finalFooter {
  clear: both;
}

/*height*/

html, body, #fullscreen {
  height: 100%;
}

.image img {
  height: 100%;
}

/*max height*/

.image img {
  max-height: 200px;
}

/*width*/

.historyitemlist {
  width: 25%;
}

.charactersitemlist, .socialLinks {
  width: 33.3%;
}

.fa {
  width: 100%;
}

.company {
  width: 50%;
}

.image img {
  width: 100%;
}

/*max width*/

#iicimage img, #kalycitoimage img {
  max-width: 200px;
}

.image img {
  max-width: 300px;
}

/* position type*/

#fullscreen h1, #fullscreen h2, #fullscreen img, .businessGoal p {
  position: relative;
}

/*position metric*/

#fullscreen h1, #fullscreen h2 {
  top: 40%;
}

/*text deco*/

.businessGoal p {
  font-style: italic;
}

/*color*/

.fa {
  color: red;
}

.socialLinksIcon:hover {
  color: blue;
}

.businessGoal {
  background-color: #e6e6e6;
}

#finalFooter, .socialLinks {
  background-color: black;
}

#finalFooter h2, #finalFooter h3 {
  color: white;
}

/*text align*/

#fullscreen h1, #fullscreen h2, #historyHeading, .historyitemlist i, .historyitemlist h4, .historyitemlist p, .businessGoal, .characters, .charactersitemlist i, .charactersitemlist h4, .charactersitemlist p, .image, .company h3, .company p, #iicimage, #kalycitoimage, .socialLinks {
  text-align: center;
}

#facebook {
  text-align: right;
}

#linkedin {
  text-align: left;
}

/*line height*/

.historyitemlist p {
  line-height: 130%;
}

/*text size*/

.fa {
  font-size: 400%;
}

.socialLinksIcon {
  font-size: 300%;
}

.businessGoal p {
  font-size: 200%;
}

/*background images*/

#fullscreen {
  background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("static/Dominos-falling.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#businessGoal {
  background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("static/goal.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wayahead {
  background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("static/climibing.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*hr line*/
hr {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 50%;
  margin-left: 25%;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

/*button*/

.button {
  background-color: white;
  color: black;
  border: 2px solid red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  left: 40%;
}

/*weblinks*/

#weblink {
  left: 40%;
  background-color: black;
  color: Red;
  border: none;
  font-size: 130%;
  text-decoration: underline;
  clear: both;
  padding-bottom: 1%;
}

/*media queries*/

@media only screen and (max-width: 425px) {
  #weblink, .button {
    left: 20%;
  }
  .businessGoal p {
    font-size: 150%;
  }
}

@media only screen and (max-width: 370px) {
  #weblink, .button {
    left: 15%;
  }
  .company img {
    width: 60%;
  }
  .businessGoal p {
    font-size: 150%;
  }
}

@media only screen and (max-width: 320px) {
  .button {
    left: 35%;
  }
  .company, .historyitemlist, .charactersitemlist {
    width: 100%;
  }
  .company img {
    display: none;
  }
  .button {
    padding: 10px 16px;
    font-size: 16px;
    margin: 4px 2px;
  }
  .businessGoal p {
    font-size: 150%;
  }
}
